include ../../col-left/col-left
include ../../col-right/col-right
include ../../price/price
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Цены на продукцию и услуги ООО "Стильный дом"
		+e.wrap
			+col-left
			+b.col-center
				+price
			+col-right
