mixin allforhome(data)
	+b.allforhome
		+e.H2.title Каталог товаров
		+e.P.top-description Все предметы выполнены в ручную и каждый из них уникален. Фотографии представлены для ознакомления с возможностями мастера.
		+e.item
			a(href='bench.html')
				+e.H2.item-title Скамейки
				+e.img-wrap
					img(src='static/img/content/allforhome/0006/1m.jpg', alt='30' )
		+e.item
			a(href='tables.html')
				+e.H2.item-title Столики и консоли
				+e.img-wrap
					img(src='static/img/content/allforhome/0009/1m.jpg', alt='30' )
		+e.item
			a(href='trumps.html')
				+e.H2.item-title Козырьки
				+e.img-wrap
					img(src='static/img/content/allforhome/0023/1m.jpg', alt='30' )
		+e.item
			a(href='stairs.html')
				+e.H2.item-title Лестницы
				+e.img-wrap
					img(src='static/img/content/allforhome/0018/1m.jpg', alt='30' )
		+e.item
			a(href='balkonies.html')
				+e.H2.item-title Балконы и Заборы
				+e.img-wrap
					img(src='static/img/content/allforhome/0029/1m.jpg', alt='30' )
		+e.item
			a(href='arbours.html')
				+e.H2.item-title Беседки и Навесы
				+e.img-wrap
					img(src='static/img/content/allforhome/0036/1m.jpg', alt='30' )
