mixin aboutus(data)
	+b.aboutus
		+e.item
			+e.H2.title ООО "Стильный дом"
			p
				| Мы одни из первых в Беларуси сами производим дома по канадской технологии из сэндвич-панелей SIP. Располагаем собственным производством пенопласта и цехом по производству СИП панелей. Все элементы конструкций из дерева, также распиливаем на нашей лесопилке. Таким образом мы контролируем весь процес производства и строительства. Это даёт возможность гарантировать качество выполненных работ. Осуществляем комплексное обслуживание наших клиентов, оказываем им услуги по проектированию и строительству домов, а также внутренней и внешней отделке, благоустройству приусадебного участка. Индивидуальный подход к каждому клиенту.
		+e.item
			+e.H2.title Вид деятельности
			p
				| ООО «Стильный дом» осуществляет производство строительных материалов, проектирование и строительство домов-коттеджей и коттеджных поселков, многоквартирных 2-3 этажных таун-хаусов и 1-2 этажных надстроек над 2-5 этажными зданиями. Ассортимент производимых строительных материалов включает:
				ul
					li
						| конструкционные теплоизоляционные панели (КТП) - трехслойные сэндвич-панели ТУ 5366-002-83023168-2011 для жилищного строительства (коттеджей, таун-хаузов, надстроек) с высокими экологическими требованиями;
					li плитный пенополистирол вспененный ПСБ-С-25 (15,35) по ТУ 2244-001-71996233-08;
					li плитка облицовочная и тротуарная по технологии «Систром»;
		+e.item
			+e.H2.title Опыт проектирования и строительства:
			p
				| Опыт ООО «Стильный дом» в проектировании и строительстве позволяет предлагать услуги по строительству домов как "под ключ", так и на определенный договором объем. При такой схеме работы компания отвечает за качество (гарантия 2 года) и берет на себя ответственность за проведение всего комплекса работ на объекте (проект - строительство - отделка - интерьер).
				ul
					li дома для индивидуальных заказчиков - Беларусь; Россия;
					li коттеджные поселки- Беларусь; Россия;
					li таун-хаусы - Беларусь; Россия;
					li надстройки- Беларусь; Россия;
		+e.document
			+e.H2.title 10 лет успешной работы!
			img(src='static/img/general/svidetelstvo-m.jpg', width='700', alt='Свидетельство о регистрации')
