.aboutus {
				box-sizing: border-box;
				padding: 0 10px;
				padding-bottom: 20px;
				background-color: #fff;
				font-family: $font-1;
				&__title {
								width 100%
								font-size: 22px;
								font-weight 700
								margin: 10px 0;
				}
				&__item {
								margin-bottom: 25px;
				}
				h3 {
								margin-top: 20px;
				}
				i {
								margin-left: 30px;
				}
				p {
								text-indent: 25px;
								margin-bottom 10px
								text-align: justify;
								font-size: 14px;
								word-break: break-all;
				}
				&__documents {
								display flex
								flex-wrap wrap
								justify-content space-around
				strong {
					display block
					margin-top 10px
					margin-bottom 5px
				}
				}
				&__img {
								width 300px
				}
}

