.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__title {
    margin: 10px 8px;
    margin-bottom: 12px;
    padding: 5px 0;
    padding-left: 30px;
    width: 100%;
    flex-grow: 1;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #F9F5F0;
  }

  &__sorting {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
  }

  &__sorting span {
    margin-left: 40px;
    font-weight: 400;
  }

  &__sorting a {
    margin-left: 25px;
    color: #000;
    font-weight: 700;
  }

  &__sorting a b {
    text-transform: lowercase;
  }

  &__sorting a:hover {
    border-bottom: 2px dashed #f00;
  }

  &__sorting a[value='active'] {
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #f00;
  }

  &__sorting a:active {
    opacity: 0.5;
  }

  +mob() {
    font-size: 16px;

    &__title {
      padding-left: 10px;
    }

    &__sorting {
      display: none;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 15px;
    }

    &__sorting span {
      margin-left: 20px;
    }
  }
}
