mixin slides(data)
	+b.slides
		+e.text
			+e.H2.title
				b "Стильный дом"
				| готовое решение
			+e.A.btn(href='80.html') Подробнее
		+e.wrap#slider
			+e.item
				+e.IMG.image(src='static/img/general/slide1.jpg', alt='1', width='748', height='480')
			+e.item
				+e.IMG.image(src='static/img/general/slide4.jpg', alt='2', width='748', height='480')
			+e.item
				+e.IMG.image(src='static/img/general/slide3.jpg', alt='3', width='748', height='480')
			+e.item
				+e.IMG.image(src='static/img/general/slide2.jpg', alt='4', width='748', height='480')
