.slides 
	position: relative;
	width 748px
	padding: 0 10px;
	padding-top: 15px;
	background-color: #fff;
	border-radius: 3px;
	&__text
		position: absolute;
		right: 10px;
		color: #fff;
		z-index: 5;
	&__title 
		width: 250px;
		margin: 0;
		text-align: center;
		font-family: $font;
		background-color: rgba(0, 0, 0, 0.5);
		b 
			display: block;
			font-size: 32px;
	&__btn 
		display block
		font-family: $font-1;
		padding: 10px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		background-color: rgba(255, 0, 0, 0.65);
		border: 2px solid #f00;
		border-radius: 3px;
		transition: all .1s ease;
		opacity: 0;
		&:hover 
			background-color: #f00;
		+mob()
			// display none
	&:hover .slides__btn 
		opacity: 1;
	&__item 
		display flex
		background-color: #ddd;
		picture 
			width 100%
		img
			width 100%
			height 100%
		&--video
			overflow hidden
			position relative
			height 425px
			iframe,
			>div
				height 100%
				width 100%
			img
				position absolute
				top 50%
				transform translateY(-50%)
				height auto
				width 100%
				cursor pointer
				-webkit-filter brightness(75%)
			.play
				content ''
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				height auto
				width 72px
				height 72px
				background-image url('%=static=%/general/play.png')
				cursor pointer
	+mob() 
		width 100%
		// height 216px
		padding 10px 0
		padding-bottom 30px
		margin-bottom 25px
		&__text {
			top calc(100% + 5px);
		}
		&__title
			display none
		&__btn {
			opacity 1
		}
		&__item
			&--video
				padding-bottom 56.25%
				padding-top 25px
				height 0
				iframe {
					position absolute
					top 0
					left 0
					width 100%
					height 100%
				}
.slick-track 
	display flex
