mixin slides(data)
	+b.slides
		+e.text
			+e.H2.title
				b "Светлый дом"
				| готовое решение
			+e.A.btn(href='light-house.html') Подробнее
		+e.wrap#slider
			+e.item--video.youtube-player(data-id='9uYIWdOSvbc')
				//- iframe(width="748" height="500" src="https://www.youtube.com/embed/9uYIWdOSvbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen)