extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/aboutus/main

block head
	- var pageTitle = 'ООО "Стильный Дом" - О нас';
	- var pageDescription = 'Описание деятельности нашего предприятия. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'ООО "Стильный дом"';
block content
	+header
	+main
	+footer
