extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/allforhome/main

block head
	- var pageTitle = 'Кованные изделия для дома - ООО "Стильный Дом"';
	- var pageDescription = 'Эксклюзивные предметы ручной работы. Делаем столики, лавки, заборы, навесы и многое другое. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Лавки, заборы, лестницы, навесы,э балконы';
block content
	+header
	+main
	+footer
