extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/arbours/main

block head
	- var pageTitle = 'Кованные беседки и навесы для дома - ООО "Стильный Дом"';
	- var pageDescription = 'Эксклюзивные предметы ручной работы. Беседки и навесы. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Беседки, навесы';
block content
	+header
	+main
	+footer
