extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/balkonies/main

block head
	- var pageTitle = 'Кованные балконы и заборы для дома - ООО "Стильный Дом"';
	- var pageDescription = 'Эксклюзивные предметы ручной работы. Балконы и заборы. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Балконы, кованные заборы';
block content
	+header
	+main
	+footer
