extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/balkonies/main

block head
	- var pageTitle = 'my title';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+main
	+footer
