extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/bench/main

block head
	- var pageTitle = 'Кованные лавки для дома - ООО "Стильный Дом"';
	- var pageDescription = 'Эксклюзивные предметы ручной работы. Лавки и скамейки. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Лавки, скамейки';
block content
	+header
	+main
	+footer
