extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/contacts/main

block head
	- var pageTitle = 'Контакты - ООО "Стильный Дом"';
	- var pageDescription = 'Контактная информация. Реквизиты для оплаты товаров и услуг по строительству';
	- var pageKeywords = 'Контакты, строительство, СИП';
block content
	+header
	+main
	+footer
