extends ../components/layout-default/layout-default
//- include data.js
include ../components/header/header
include ../components/content/index/main
include ../components/footer/footer

block head
	- var pageTitle = 'Дом из СИП панелей в Беларуси лучшие цены высокое качество | ООО "Стильный Дом"';
	- var pageDescription = 'Строим дома из СИП под ключ. Собственное производство СИП панелей. Лучшие цены. Отличное качество материалов';
	- var pageKeywords = 'Дом из сип панелей, дом из сип Минск, дом из сип Беларусь, Беларусь, РБ, Минск, дачный домик, проекты, красивые проекты, строительство, каркасный дом, энергоэффективный дом, дом под ключ, сип цена, дачный дом, построить дом';
	- var and = '567';
block content
	+header
	+main
	+footer
