extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/lining/main

block head
	- var pageTitle = 'Евро вагонка сорта А различных размеров - ООО "Стильный Дом"';
	- var pageDescription = 'Евро вагонка собственного производства. Возможна доставка. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Евро вагонка';
block content
	+header
	+main
	+footer
