extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/politic/politic

block head
	- var pageTitle = 'Политика конфиденциальности ООО "Стильный Дом"';
	- var pageDescription = 'Новый дом в пригороде г.Минска с полной отделкой, выполнен по технологии умный дом. Политика конфиденциальности ООО "Стильный Дом"';
	- var pageKeywords = 'Новый дом под Минском';
block content
	+header
	+main
	+footer
