extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/price/main

block head
	- var pageTitle = 'Цены на продукцию - ООО "Стильный Дом"';
	- var pageDescription = 'Цены на продукцию и услуги по строительству панелно-каркасных домов - ООО "Стильный Дом"';
	- var pageKeywords = 'Цены на СИП, Беларусь, СИП цена, стоимость строительства';
block content
	+header
	+main
	+footer
