extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/project/main

block head
	- var pageTitle = 'Проект номер: ?php echo $id;? - ООО "Стильный Дом"';
	- var pageDescription = 'Красивые проекты каркасных домов, котеджей и дачных домиков. Проект номер: ?php echo $id;?';
	- var pageKeywords = 'Проекты домов, проекты каркавсных домов, каркасныые дома, дачные домики';
	//Добавить <> в title и description
block content
	+header
	+main
	+footer
