extends ../components/layout-default/layout-default
//- include data.js
include ../components/header/header
include ../components/content/projects/main
include ../components/footer/footer

block head
	- var pageTitle = 'Дом из СИП - Проекты - ООО "Стильный Дом"';
	- var pageDescription = 'Проекты каркасных домов по канадской технологии.';
	- var pageKeywords = 'Проекты домов, проекты каркавсных домов, каркасныые дома';
block content
	+header
	+main
	+footer

