extends ../components/layout-default/layout-default
//- include data.js
include ../components/header/header
include ../components/content/projects/main
include ../components/footer/footer

block head
	- var pageTitle = 'Дом из СИП - Проекты - ООО "Стильный Дом"';
	- var pageDescription = 'Проекты каркасных домов по канадской технологии. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Проекты домов, проекты каркавсных домов, каркасныые дома';
	|<?php require_once "start.php"; ?>
block content
	+header
	+main
	+footer

