extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/sip/main

block head
	- var pageTitle = 'СИП панели - ООО "Стильный Дом"';
	- var pageDescription = 'СИП панели для пванелно-каркасного строительства по Канадской технологии';
	- var pageKeywords = 'СИП панели, СИП, SIP';
block content
	+header
	+main
	+footer
