extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/stairs/main

block head
	- var pageTitle = 'Кованные лестницы для дома - ООО "Стильный Дом"';
	- var pageDescription = 'Кованные лестницы любой сложности. Для улицы и интерьеров.';
	- var pageKeywords = 'Кованные лестницы, лестницы из метала';
block content
	+header
	+main
	+footer
