extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/content/styrofoam/main

block head
	- var pageTitle = 'Пенопласт - ООО "Стильный Дом"';
	- var pageDescription = 'Пенопласт собственного производства. Доступная цена. Высокое качество. Строим панельно каркасные дома из СИП панелей. Собственное производство СИП панелей, пенопласта разной плотности.';
	- var pageKeywords = 'Пенопласт, пенополистерол, утеплитель, теплоизоляция, утепление фасада, утепление пола';
block content
	+header
	+main
	+footer
