mixin features(data)
	+b.features
		+e.UL.list
			+e.LI.item
				a(href='projects.html')
					+e.H2.title Типовые проекты
					img(src='static/img/general/dom.jpg', width='230', alt='')
			+e.LI.item
				a(href='sip.html')
					+e.H2.title СИП панели
					img(src='static/img/general/sip.jpeg', width='230', alt='')
			+e.LI.item
				a(href='styrofoam.html')
					+e.H2.title Пенопласт
					img(src='static/img/general/penoplast.jpg', width='230', alt='')
			+e.LI.item
				a(href='allforhome.html')
					+e.H2.title Всё для дома
					img(src='static/img/general/mebel.jpg', width='230', alt='')
