include ../../../node_modules/bemto.jade/bemto
include ../../../node_modules/jade-injected/jade-injected
include ../page/page
//- include ../scripts/scripts

doctype html
html(lang='ru' class='no-js' prefix="og: http://ogp.me/ns#")
	include ../head/head
	+page
		|%=symbols=%
		svg(style='display: none', xmlns='http://www.w3.org/2000/svg')
			symbol#insta(viewbox='0 0 97.395 97.395')
				path(d='M12.501 0h72.393c6.875 0 12.5 5.09 12.5 12.5v72.395c0 7.41-5.625 12.5-12.5 12.5H12.501C5.624 97.395 0 92.305 0 84.895V12.5C0 5.09 5.624 0 12.501 0zm58.447 10.821a4.395 4.395 0 0 0-4.383 4.385v10.495a4.396 4.396 0 0 0 4.383 4.385h11.008a4.398 4.398 0 0 0 4.385-4.385V15.206a4.397 4.397 0 0 0-4.385-4.385H70.948zm15.439 30.367h-8.572a28.486 28.486 0 0 1 1.25 8.355c0 16.2-13.556 29.332-30.275 29.332-16.718 0-30.272-13.132-30.272-29.332 0-2.904.438-5.708 1.25-8.355h-8.945v41.141a3.884 3.884 0 0 0 3.872 3.872h67.822a3.883 3.883 0 0 0 3.872-3.872V41.188h-.002zM48.789 29.533c-10.802 0-19.56 8.485-19.56 18.953s8.758 18.953 19.56 18.953c10.803 0 19.562-8.485 19.562-18.953s-8.758-18.953-19.562-18.953z')
			symbol#ok(viewbox='0 0 95.481 95.481')
				path(d='M43.041 67.254c-7.402-.772-14.076-2.595-19.79-7.064-.709-.556-1.441-1.092-2.088-1.713-2.501-2.402-2.753-5.153-.774-7.988 1.693-2.426 4.535-3.075 7.489-1.682.572.27 1.117.607 1.639.969 10.649 7.317 25.278 7.519 35.967.329 1.059-.812 2.191-1.474 3.503-1.812 2.551-.655 4.93.282 6.299 2.514 1.564 2.549 1.544 5.037-.383 7.016-2.956 3.034-6.511 5.229-10.461 6.761-3.735 1.448-7.826 2.177-11.875 2.661.611.665.899.992 1.281 1.376 5.498 5.524 11.02 11.025 16.w5 16.566 1.867 1.888 2.257 4.229 1.229 6.425-1.124 2.4-3.64 3.979-6.107 3.81-1.563-.108-2.782-.886-3.865-1.977-4.149-4.175-8.376-8.273-12.441-12.527-1.183-1.237-1.752-1.003-2.796.071-4.174 4.297-8.416 8.528-12.683 12.735-1.916 1.889-4.196 2.229-6.418 1.15-2.362-1.145-3.865-3.556-3.749-5.979.08-1.639.886-2.891 2.011-4.014 5.441-5.433 10.867-10.88 16.295-16.322.359-.362.694-.746 1.217-1.305z')
				path(d='M47.55 48.329c-13.205-.045-24.033-10.992-23.956-24.218C23.67 10.739 34.505-.037 47.84 0c13.362.036 24.087 10.967 24.02 24.478-.068 13.199-10.971 23.897-24.31 23.851zm12.001-24.186c-.023-6.567-5.253-11.795-11.807-11.801-6.609-.007-11.886 5.316-11.835 11.943.049 6.542 5.324 11.733 11.896 11.709 6.552-.023 11.768-5.285 11.746-11.851z')
			symbol#vk(viewbox='0 0 30.011 17.123')
				path(d='M27.625 5.832c-3.031 4.031-3.359 3.656-.859 5.984 2.406 2.234 2.906 3.313 2.984 3.453 0 0 1 1.75-1.109 1.766l-4 .063c-.859.172-2-.609-2-.609-1.5-1.031-2.906-3.703-4-3.359 0 0-1.125.359-1.094 2.766.016.516-.234.797-.234.797s-.281.297-.828.344h-1.797c-3.953.25-7.438-3.391-7.438-3.391S3.437 9.707.093 1.848c-.219-.516.016-.766.016-.766S.343.785 1 .785L5.281.754c.406.063.688.281.688.281s.25.172.375.5c.703 1.75 1.609 3.344 1.609 3.344 1.563 3.219 2.625 3.766 3.234 3.438 0 0 .797-.484.625-4.375-.063-1.406-.453-2.047-.453-2.047-.359-.485-1.031-.625-1.328-.672-.234-.031.156-.594.672-.844.766-.375 2.125-.391 3.734-.375 1.266.016 1.625.094 2.109.203 1.484.359.984 1.734.984 5.047 0 1.063-.203 2.547.563 3.031.328.219 1.141.031 3.141-3.375 0 0 .938-1.625 1.672-3.516.125-.344.391-.484.391-.484s.25-.141.594-.094l4.5-.031c1.359-.172 1.578.453 1.578.453.234.641-.501 2.141-2.344 4.594z')
			symbol#youtube(viewbox='0 0 553.102 553.102')
				path(d='M333.087 326.967c-8.641 0-16.805 4.799-24.485 14.4v-57.98h-24.125v177.529h24.125v-12.969c7.919 9.848 16.077 14.768 24.485 14.768 9.842 0 16.2-5.037 19.083-15.123 1.677-5.049 2.521-13.801 2.521-26.291v-52.576c0-12.719-.845-21.604-2.521-26.641-2.883-10.086-9.241-15.117-19.083-15.117zm-2.16 96.138c0 11.775-3.482 17.639-10.446 17.639-4.082 0-8.042-1.916-11.879-5.752v-80.668c3.837-3.826 7.797-5.754 11.879-5.754 6.958 0 10.446 6.004 10.446 18.006v56.529zM409.422 326.967c-12.24 0-21.849 4.572-28.807 13.686-4.804 6.469-7.203 16.811-7.203 30.961v46.463c0 14.162 2.521 24.473 7.564 30.961 6.958 9.131 16.683 13.684 29.168 13.684 12.724 0 22.325-4.797 28.807-14.406 2.883-4.32 4.682-9.113 5.404-14.406.477-3.348.716-8.525.716-15.49v-3.236h-24.486v7.734c0 2.515-.062 4.498-.178 5.949-.122 1.432-.177 2.277-.177 2.516-1.438 6.248-5.043 9.352-10.802 9.352-8.165 0-12.24-6.121-12.24-18.354v-23.41h47.889V371.61c0-13.912-2.521-24.236-7.559-30.963-6.486-9.108-15.85-13.68-28.096-13.68zm11.524 52.211h-23.765v-12.254c0-12.238 3.96-18.354 11.88-18.354 7.925 0 11.885 6.121 11.885 18.354v12.254zM239.818 429.588c-5.281 7.441-10.324 11.156-15.123 11.156-3.366 0-5.165-1.799-5.397-5.404-.245-.465-.361-3.598-.361-9.352v-97.223h-23.764v104.426c0 9.131.722 15.6 2.16 19.438 2.161 6.738 7.203 10.086 15.123 10.086 8.88 0 18.005-5.404 27.369-16.205v14.406h24.125v-132.15h-24.125v100.822h-.007zM271.153 193.013c7.681 0 11.524-6.132 11.524-18.372v-56.182c0-12.479-3.843-18.721-11.524-18.721-7.687 0-11.524 6.242-11.524 18.721v56.182c0 12.239 3.837 18.372 11.524 18.372zM108.03 308.596h28.085v152.32h26.647v-152.32h28.806v-25.209H108.03z')
				path(d='M449.398 0H103.71C75.142 0 50.717 10.153 30.429 30.422 10.141 50.723 0 75.142 0 103.709v345.683c0 28.566 10.141 52.998 30.429 73.268 20.282 20.281 44.707 30.441 73.281 30.441h345.688c28.562 0 52.986-10.154 73.274-30.441 20.281-20.27 30.429-44.701 30.429-73.268V103.709c0-28.568-10.147-52.987-30.429-73.287C502.385 10.153 477.96 0 449.398 0zM326.606 79.939h24.125v97.938c0 5.765.122 8.892.361 9.37.238 3.855 2.16 5.765 5.759 5.765 4.798 0 9.841-3.715 15.122-11.169V79.939h24.125v133.232h-24.125v-14.406c-9.847 10.802-19.088 16.206-27.729 16.206-7.687 0-12.846-3.237-15.483-9.719-1.438-4.32-2.16-10.918-2.16-19.804V79.939h.005zm-91.108 43.208c0-13.911 2.521-24.364 7.564-31.322 6.481-9.113 15.845-13.685 28.085-13.685 11.756 0 21.12 4.572 28.084 13.685 5.043 6.964 7.559 17.411 7.559 31.322v46.812c0 14.4-2.521 24.854-7.559 31.322-6.965 9.131-16.328 13.685-28.084 13.685-12.24 0-21.604-4.56-28.085-13.685-5.043-6.946-7.564-17.387-7.564-31.322v-46.812zm-64.811-88.936l19.088 70.215 18.36-70.215h27.008l-32.406 106.592v72.369h-26.646v-72.369c-2.644-13.207-8.164-32.167-16.566-56.897-1.683-5.514-4.45-13.801-8.287-24.853a18409.954 18409.954 0 0 1-8.642-24.841h28.091zm296.716 434.623c-2.405 10.338-7.51 19.09-15.307 26.293-7.803 7.203-16.866 11.406-27.185 12.6-32.89 3.6-82.345 5.404-148.355 5.404-66.023 0-115.472-1.799-148.355-5.404-10.325-1.193-19.388-5.402-27.185-12.6-7.803-7.203-12.907-15.949-15.3-26.293-4.804-20.158-7.203-51.371-7.203-93.623 0-41.523 2.399-72.736 7.203-93.623 2.399-10.551 7.503-19.37 15.3-26.458 7.797-7.087 16.983-11.224 27.546-12.436 32.644-3.599 81.978-5.404 148-5.404 66.255 0 115.705 1.799 148.355 5.404 10.324 1.212 19.449 5.343 27.368 12.436 7.926 7.087 13.085 15.906 15.484 26.458 4.559 19.932 6.842 51.133 6.842 93.623-.01 42.252-2.41 73.465-7.208 93.623z')
		block content
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();
		
		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')

		// google analitic
		script.
			(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-98649270-1', 'auto');
			ga('send', 'pageview');
		// Yandex.Metrika counter
		script(type='text/javascript').
			(function(d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter44555589 = new Ya.Metrika({
			id: 44555589,
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor:true
			});
			} catch (e) {}
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function() {
			n.parentNode.insertBefore(s, n);
			};
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else {
			f();
			}
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src='https://mc.yandex.ru/watch/44555589', style='position:absolute; left:-9999px;', alt='')
		// /Yandex.Metrika counter
		// Социальные сети
		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "ООО СТИЛЬНЫЙ ДОМ",
			"url": "http://domsip.by",
			"logo": "http://domsip.by/img/domsip-logo+.png",
			"sameAs": [
			"https://vk.com/domizsip",
			"https://www.instagram.com/ooostilnyidom/?hl=ru",
			"https://ok.ru/group/53658897481807",
			"https://www.youtube.com/channel/UCD1-L9AAFsdjms6ZjrWYoGQ"
			]
			}
