// File for vars.
// For example: main colors, paddings and so on.
$c_white = #fff
$c_orange = #ffc107
$c_dark = #424242

// $bp = {
//   mob: 76.8rem,
//   tab: 124rem
// }
// mq($point)
//   @media (max-width: $bp[$point])
//     {block}

// breakpoints adaptiv
$tab-big = 1260px
$tab = 1023px
$mob = 767px

tab-big()
  @media (max-width: $tab-big)
    {block}
tab()
  @media (max-width: $tab)
    {block}
mob()
  @media (max-width: $mob)
    {block}
