// File for vars.
media_queries = {
	mobile  : "(max-width: 32rem)",
	tablet  : "(max-width: 1240px)",
	desktop : "(max-width: 120rem)"
}
// For example: main colors, paddings and so on.
$c_white = #fff
$c_orange = #ffc107
$c_dark = #424242
$page-width = 1200px
