.site-map {
	display: flex;
	padding: 20px;
	padding-bottom 0
	@media (max-width: 1240px){
		display none
	}
		
	&__list {
		width: 140px;
		margin: 0 20px;
		a {
			color: rgba(255, 255, 255, 1.0);
			text-decoration: none;
		}
		a[href]:hover {
			color: gold;
		}
	}
	&__title {
		display: block;
		margin: 0;
		margin-bottom: 5px;
		font-size: 22px;
		font-weight: 400;
		border-bottom: 1px dashed rgba(255, 255, 255, 1.0);
	}
	&__item {
		margin: 2px 0;
		a {
			font-size: 17px;
			font-weight: 400;
		}
	}
}
