.map {
  width: 748px;
  height: 450px;
  margin: 15px 10px;
  background: url('%=static=%/general/map.jpg') #ddd;

  +mob() {
    margin: 0;
    width: 97vw;
    height: 87vw;
  }
}

.contacts-page {
  display: flex;
  justify-content: space-between;
  width: 748px;
  margin: 10px 15px;
  font-family: $font-1;

  &__item {
    width: 300px;
    margin-left: 20px;
  }

  &__title {
    font-size: 22px;
  }

  &__adres {
    margin-bottom: 5px;
    line-height: 22px;

    sup {
      font-size: 12px;
      line-height: 10px;
    }
  }

  &__phone {
    display: block;
    font-weight: 700;

    span {
      margin-right: 5px;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  &__worker {
    font-family: $font;
    margin: 15px 0;
    font-size: 22px;
    font-weight: 700;

    &-type {
      margin-right: 5px;
      font-weight: 400;
      text-decoration: underline;
    }

    &-phone {
      font-family: $font-1;
      position: relative;
      display: block;
      margin-top: 5px;
      padding-left: 55px;
      font-size: 18px;
      line-height: 30px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 15px;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &_mts:before {
        background-image: url('%=static=%/general/mts-phone-icon.jpg');
      }

      &_velcom:before {
        background-image: url('%=static=%/general/icon_a1.svg');
      }

      &_mail:before {
        background-image: url('%=static=%/general/mail-icon.png');
      }
    }
  }

  +mob() {
    flex-wrap: wrap;
    width: 360px;
    margin: 10px 0;
    font-size: 15px;
  }
}
