include ../../col-left/col-left
include ../../col-right/col-right
include ../../aboutus/aboutus
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title ООО "СТИЛЬНЫЙ ДОМ" несколько слов о нас
		+e.wrap
			+col-left
			+b.col-center
				+aboutus
			+col-right
