include ../../col-left/col-left
include ../../col-right/col-right
include ../../slides/slides
include ../../advantages/advantages
include ../../references/references
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Строим каркасные дома из&nbsp;СИП&nbsp;панелей в Беларуси
		+e.wrap
			+col-left
			+b.col-center
				+slides
				+advantages
				+b.goods
					+e.H2.title
						| Хиты продаж
						sup
					+b.goods-card
						a(href='project.php?id=1')
							+e.H2.title
								strong Дом из СИП 
								| 30 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 6 450 
								b y.e.
							+e.IMG.img(src='static/img/content/1/1c.jpg', alt='60')
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 30 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 50 м
										sup 2
								+e.LI.item
									span Особенности:
									b Терраса
								+e.LI.item
									span Номер проекта:
									b 1
					+b.goods-card
						a(href='project.php?id=30')
							+e.H2.title
								strong Дом из СИП 
								| 198 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 42 570
								b y.e.
							+e.IMG.img(src='static/img/content/30/1c.jpg', alt='60')
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 198 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 220 м
										sup 2
								+e.LI.item
									span Особенности:
									b Балкон,терраса
								+e.LI.item
									span Номер проекта:
									b 30
					+b.goods-card
						a(href='project.php?id=6')
							+e.H2.title
								strong Дом из СИП 
								| 105 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 22 575
								b y.e.
							+e.IMG.img(src='static/img/content/6/1c.jpg', alt='66' )
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 105 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 150 м
										sup 2
								+e.LI.item
									span Особенности:
									b Терраса, камин
								+e.LI.item
									span Номер проекта:
									b 6
				+references
				//- .video
				//- 	iframe(width='748', height='431', src='https://www.youtube.com/embed/NIK68PQaozM', allowfullscreen='')
			+col-right
		div#map
	script.
		var map;
		function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
		center: {
		lat: 54.616634,
		lng: 26.878876
		},
		zoom: 8,
		fullscreenControl: true
		});
		var iconBase = 'http://domsip.by/img/';
		var icons = {
		library: {
		icon: iconBase + 'library_maps.png'
		},
		info: {
		icon: iconBase + 'info-i_maps.png'
		}
		};
		var features = [{
		position: new google.maps.LatLng(53.930970, 27.624247),
		type: 'library'
		}, {
		position: new google.maps.LatLng(55.116646, 26.878909),
		type: 'info'
		}];
		// Create markers.
		features.forEach(function(feature) {
		var marker = new google.maps.Marker({
		position: feature.position,
		icon: icons[feature.type].icon,
		map: map
		});
		});
		}
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDA6it32UAVnCDKxx98m9H6nHtpm0AkkhA&callback=initMap', async='', defer='')
