include ../../col-left/col-left
include ../../col-right/col-right
include ../../slides-mod/slides-mod
include ../../slides/slides
include ../../advantages/advantages
include ../../references/references
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Строим каркасные дома из&nbsp;СИП&nbsp;панелей в Беларуси
		+e.wrap
			+col-left
			+b.col-center
				+slides-mod
				+slides
				+advantages
				+b.goods
					+e.H2.title
						| Хиты продаж
						sup
					+b.goods-card
						a(href='project.php?id=1')
							+e.H2.title
								strong Дом из СИП 
								| 30 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 8 100 
								b y.e.
							+e.IMG.img(src='static/img/content/1/1c.jpg', alt='60')
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 30 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 50 м
										sup 2
								+e.LI.item
									span Особенности:
									b Терраса
								+e.LI.item
									span Номер проекта:
									b 1
					+b.goods-card
						a(href='project.php?id=30')
							+e.H2.title
								strong Дом из СИП 
								| 198 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 53 460
								b y.e.
							+e.IMG.img(src='static/img/content/30/1c.jpg', alt='60')
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 198 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 220 м
										sup 2
								+e.LI.item
									span Особенности:
									b Балкон,терраса
								+e.LI.item
									span Номер проекта:
									b 30
					+b.goods-card
						a(href='project.php?id=6')
							+e.H2.title
								strong Дом из СИП 
								| 105 м
								sup 2
							+e.P.subtitle
								| Комплектация "Премиум"
								br
								| 28 350
								b y.e.
							+e.IMG.img(src='static/img/content/6/1c.jpg', alt='66' )
							+e.UL.list
								+e.LI.item
									span Общая площадь:
									b
										| 105 м
										sup 2
								+e.LI.item
									span Площадь застройки:
									b
										| 150 м
										sup 2
								+e.LI.item
									span Особенности:
									b Терраса, камин
								+e.LI.item
									span Номер проекта:
									b 6
				+references
			+col-right
