.contacts-aside {
				width: 215px;
				margin-top: 8px;
				padding-top: 10px;
				font-family $font-1
				border: 1px solid #ddd;
				border-radius: 3px;
				background-color: rgba(10, 10, 10, 0.02);
				box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
				&__operator {
								display: inline-block;
								vertical-align: bottom;
								position: relative;
								margin-bottom: 10px;
								padding-left: 50px;
								padding-right: 5px;
								font-size: 19px;
								line-height: 25px;
								&_mail {
									font-family Cuprum
								}
								a {
												font-size 17px
												font-weight 600
												color inherit
								}
								span {
												padding-right: 5px;
												font-size: 15px;
								}
								&:before {
												position absolute
												content ''
												top: 0;
												left: 10px;
												width: 30px;
												height: 30px;
								}
								&_mts:before {
												background-image: url(%=static=%/general/mts-phone-icon.jpg);
								}
								&_velcom:before {
												background-image: url(%=static=%/general/velcom-phone-icon.jpg);
								}
								&_btk:before {
												background-image: url(%=static=%/general/home-phone-icon.png);
								}
								&_mail:before {
												background-image: url(%=static=%/general/mail-icon.png);
								}
				}
}
