mixin contacts-aside(data)
	+b.contacts-aside
		+e.phone
			+e.SPAN.operator._mts
				span +375(29)
				| 713-97-11
			+e.SPAN.operator._velcom
				span +375(29)
				| 139-05-75
			+e.SPAN.operator._btk
				span +375(2155)
				|  4-25-80
			+e.SPAN.operator._mail
				a(href="mailto:stilndom@gmail.com") stilndom@gmail.com
