mixin credit(data)
	+b.credit
		+e.item
			+e.H2.title Кредит на строительство жилого помещения в ОАО&nbsp;"Белагропромбанк"
			p 
				| Процентная ставка за пользование кредитом в первые два года (730 календарных дней) ставка рефинансирования* НБ РБ 14% годовых, с третьего года  17% (СР*+3 п.п.).
			p
				| * - процентная ставка за пользование кредитом является переменной, и изменяется в день изменения ставки рефинансирования Национального банка РБ.
			p
				| Уплата платежей по процентам осуществляется ежемесячно исходя из фактического ежедневного остатка задолженности по кредиту, начиная с месяца, следующего за месяцем предоставления кредита, не позднее последнего рабочего дня месяца, в котором должен быть произведён платёж.
			p
				strong Валюта кредита: 
				| белорусские рубли.
			p
				strong Минимальная сумма кредита:
				| 1000 белорусских рублей.
			p
				strong Оформление договора поручительства 
				| с физическим лицом в обеспечение возврата кредита - 20 белорусских рублей.
			p
				strong Оформление договора о залоге 
				| с физическим лицом в обеспечение возврата кредита - 45 белорусских рублей.
			p
				strong Максимальная сумма кредита: 
				| в пределах кредитоспособности заявителя, но не может превышать 150 000 белорусских рублей, и не более 90%  от ориентировочной стоимости жилого помещения.
			p
				strong При расчете максимальной суммы кредита возможен учет дохода супруга (супруги), 
				| физических лиц, которые находятся в близком родстве, свойстве с заявителем, согласно статьям 60 и 61 Кодекса Республики Беларусь о браке и семье
			p
				strong Срок, на который предоставляется кредит: 
				| до 20 лет.
			p
				| Погашение задолженности по кредитному договору может производиться в безналичной форме и (или) путём внесения наличных денег в филиалах, отделениях и РКЦ ОАО «Белагропромбанк» вне зависимости от места предоставления кредита.
			p
				strong Обеспечение кредита:
				ul
					li
						| поручительство не менее 2 (двух) физических лиц и (или) ипотека жилого помещения, построенного с использованием кредита;
					li
						| залог недвижимого имущества (до момента предоставления в банк договора об ипотеке жилого помещения, построенного с использованием кредита) и ипотека жилого помещения, построенного с использованием кредита.
			p
				strong Требования к заявителю и поручителям:
				ul
					li
						| совершеннолетние граждане Республики Беларусь, зарегистрированные по месту жительства в Республике Беларусь и имеющие постоянный, официально подтвержденный, доход на территории Республики Беларусь (далее – физические лица);
					li
						| физические лица, чей среднемесячный чистый доход превышает величину бюджета прожиточного минимума в среднем на душу населения;
					li
						| физические лица, не имеющие проблемной задолженности и (или) отрицательной кредитной истории (для физических лиц - индивидуальных предпринимателей Республики Беларусь – отсутствие задолженности по налогам, сборам и иным платежам в бюджет (дополнительно).
			p
				strong Срок рассмотрения пакета документов: 
				| 7 рабочих дней (в случаях, требующих дополнительной проверки, - до 12 рабочих дней). 
			p
				a(href='http://www.belapb.by/rus/natural/credits/property/house_building/docs_/' target='_blank') Пакет документов, необходимых для получения кредита 
			p
				| Погашать кредиты в белорусских рублях можно в устройствах самообслуживания (инфокиосках), оборудованных модулем приема наличных денежных средств. 
