mixin credit(data)
  +b.credit
    +e.item
      +e.H2.title Кредит в ОАО&nbsp;"Белагропромбанк" до 10 лет
      p 
        | На приобретение 
        b домокомплектов, 
        | произведенных в Республики Беларусь
      p
        a(href='https://www.belapb.by/rus/natural/credits/kredit-na-priobretenie-tovarov-otechestvennogo-proizvodstva/na-priobretenie-domokomplektov-proizvedennyh-v-respubliki-belarus/' target='_blank') Подробности тут
    +e.item
      +e.H2.title Кредит в ОАО&nbsp;"Белагропромбанк" до 20 лет
      p 
        | Кредит предоставляется на строительство индивидуального жилого дома (в том числе путем приобретения домокомплекта), квартиры.
      p
        a(href='https://www.belapb.by/rus/natural/credits/property/house_building/' target='_blank') Подробности тут