mixin lining(data)
  +b.lining
    +e.item
      +e.H2.title Евро вагонка &mdash; от 15 бел.руб./м.кв. 
        a(href="price.html") прайс лист
      +e.IMG.img-left(src='static/img/general/lining/1.jpg', alt='Евро вагонка упакованная' width='350')
      p
        | Чем отличается 
        strong "Евро вагонка" 
        | от обычной? Во-первых, технологией производства и сортом древесины. Евро-вариант лучше обрабатывается и дополнительно высушивается в камерах, поэтому его влажность ниже. Евровагонка имеет более сложный профиль и немного другие геометрические параметры. Ее паз немного глубже, чем у обычной, а гребень – больше. Подобная конструкция создает благоприятные условия для циркуляции воздуха, исключает негативное влияние конденсата, помогает предотвратить появление щелей. Прочность евровагонки на порядок выше, чем у обычной, что обуславливает ее более высокую стоимость. Продольные пазы, имеющиеся на панелях «евро», позволяют снимать внутреннее напряжение доски. Поэтому срок службы материала составляет не менее 15-20 лет. Вентиляционные канавки эффективно отводят конденсат, который является основной причиной порчи досок. В отличие от традиционной, евровагонка даже без обработки выглядит достаточно красиво. Нет необходимости дополнительно красить ее, можно даже не покрывать лаком. Этот материал чаще всего используется для внутренней отделки помещений.
      +e.IMG.img-right(src='static/img/general/lining/2.jpg', alt=' Евровагонка упакованная')
      +e.H2.title Характеристики евровагонки
      p Евровагонка имеет одинаковую толщину панелей – 15 мм. Их ширина варьируется от 60 до 160 мм, а длина может составлять от 1 до 6 метров. Ширина обычного варианта установлена в пределах от 96 до 195 мм, толщина – 12-25 мм, а длина до 6 метров. Влажность панелей «евро» не должна быть выше 8-12%, тогда как у обычных может достигать и 25-35%. Главными показателями качества материала являются прочность (способность выдерживать нагрузки), твердость, износостойкость, огнестойкость, эстетические свойства и сортность. Производится вагонка из самых разных пород дерева: как лиственных, так и хвойных. Элитным вариантом являются панели из дуба. Они отличаются привлекательным внешним видом и высокой прочностью, которая, к сожалению, приводит к значительному удорожанию процесса производства.
