.navigation 
	position: relative
	display: flex
	flex-grow: 1
	+mob()
		width 100%
	&__item
		position: relative
		margin: 0 1px
		flex-grow: 1
		border: 1px solid rgba(186, 163, 96, 0.7)
		border-top: 0
		background-color: #E7FEFC
		border-bottom-right-radius: 5px
		border-bottom-left-radius: 5px
		box-shadow: 0px 1px 1px rgba(34, 34, 34, 0.3)
		a
			display: block;
			box-sizing: border-box;
			padding: 10px 5px;
			font-family: $font;
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
			color: #000;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		&_mobil
			display none
		&_logo a
			padding 0
			background-color: #C1E558
		&_logo img
				display inline-block
				vertical-align top
		&:hover 
			background-color: #C1E558
			box-shadow: 0px 3px 2px rgba(34, 34, 34, 0.3)
		&:active 
			box-shadow: inset 0px 0px 2px rgba(34, 34, 34, 0.3)
		&-sublist
			position: absolute
			opacity: 0
			transform: translate(-10px, -10px) scale(0, 0)
			z-index: -1
			box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.5)
			transition: 0.05s ease-in-out
			&:before 
				position absolute
				content ''
				width: 70%
				height: 10px
				top: -7px
		&_sub:before
			position absolute
			content ''
			right 12px
			top 17px
			border: 10px solid transparent;
			border-top: 15px solid #000;
			display: block;
			width: 0;
			height: 0;
			opacity 0.5
		&_sub:hover &-sublist
			top: 55px
			opacity: 1
			transform: translate(15px, 0px) scale(1, 1)
			z-index: 10
			cursor: default
		span 
			display inline-block
			vertical-align top
			margin-left 10px
			padding 10px 0
	&__sub-item
		position: relative;
		margin: 0 1px;
		flex-grow: 1;
		border-top: 1px solid rgba(186, 163, 96, 0.7);
		background-color: #E7FEFC;
		box-shadow: 0px 1px 1px rgba(34, 34, 34, 0.3);
		cursor: default;
		&:last-child 
				border-bottom: 1px solid rgba(186, 163, 96, 0.7);
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
		&:hover 
				background-color: #C1E558;
				box-shadow: 0px 3px 2px rgba(34, 34, 34, 0.3);
		&:active 
				box-shadow: inset 0px 0px 2px rgba(34, 34, 34, 0.3);

	&__sub-link 
			display: block;
			box-sizing: border-box;
			padding: 10px 10px;
			font-family: $font;
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
			color: #000;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
	+tab-big()
		&__item
			&_sub:before
				right 22px
				top 37px
				border: 40px solid transparent;
				border-top: 10px solid #000;
	+tab()
		font-size 17px
		line-height 20px
		&__item
			&_sub:before
				right 12px
				top 37px
				border: 40px solid transparent;
				border-top: 10px solid #000;
		&__sub-item
			width 230px
		&__item_logo
			span
				width 110px
				padding 4px 0
				margin-left 0
				font-size 18px
				line-height 21px
			img
				margin-top 3px

	+mob()
		&_show
			position absolute
		&__item
			margin 0
			box-shadow none
			position absolute
			display none
			width 100%
			box-sizing border-box
			&_sub:before
				right 22px
				top 17px
				border: 10px solid transparent;
				border-top: 15px solid #000;
			&_mobil
				position absolute
				width 100%
				display block
				z-index 100
		&__item.navigation_mobil
			background-color: #E7FEFC
		&_show
			flex-direction column
		&_show &__item
				position relative
				display block
			span
				width 200px
				padding 15px 0
				font-size 22px
				line-height 21px
			img
				margin-top 3px

.navigation__toggle {
			position: absolute;
			right: 25px;
			top: 1px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
.burger {
  width: 30px;
  height: 5px;
  background: black;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  top: 20px;
    transition: .3s all cubic-bezier(.17,.67,.1,1.23);
  transform-origin: 100% 0%;
  &:before {
    content: '';
    width: 30px;
    height: 5px;
    background: black;
    position: relative;
    display: block;
    top: -10px;
     border-radius: 5px;
        transition: .3s all cubic-bezier(.17,.67,.1,1.23);
  }
  &:after {
    content: '';
    width: 30px;
    height: 5px;
    background: black;
    position: relative;
    display: block;
    top: 5px;
    border-radius: 5px ;
        transition: .3s all cubic-bezier(.17,.67,.1,1.23);
  }
}

.burger.active {
  transform: scale(1.5);
  border-radius: 200%;
  height: 40px;
  width: 40px;
  background: none;
  border: 4px solid transparent;
  transform-origin: 50% 0%;
  top: -10px;
  padding-top: 14px;
  padding-left: 3px;
  transition: .3s all cubic-bezier(.17,.67,.1,1.23);

  &:before {
    transform: rotate(45deg) scale(.8);
    transform-origin: 45% 9%;
    top: 0;
    opacity: 1;
    transition: .3s all cubic-bezier(.17,.67,.1,1.23);
  }
  &:after {
    transform: rotate(-45deg) scale(.8);
    transform-origin: 25% 0%;
    top: 0;
    opacity: 1;
    transition: .3s all cubic-bezier(.17,.67,.1,1.23);

  }
}
