mixin advantages(data)
	+b.advantages
		+e.B.title Наши преимущества
		+e.UL.list
			+e.LI.item
				+e.STRONG.description Нестандартные конструкции
				+e.SPAN Изготовим СИП панели нестандартных размеров,<br> дву-тавр и другие.
			+e.LI.item
				+e.STRONG.description Проектно-инженерная группа
				+e.SPAN В нашем Минском офисе, работают опытные инженеры. Способные решать задачи любой сложности.
			+e.LI.item
				+e.STRONG.description Экономим ваши<br>деньги и время
				+e.SPAN Быстро и по лучшей цене, спроектируем и построим заказанный вами объект .
