.page-header
	width 100%
	display: flex
	flex-wrap: wrap
	justify-content: center
	flex-grow: 1
	position: relative
	z-index: 10
	background-color: #F9F5F0
	&__nav 
		display: flex
		flex-grow: 1
		background-color: #FFF
