mixin goods-card(data)
	+b.goods-card
		a(href='105.html')
			+e.H2.title
				| Дом 105 м
				sup 2
			+e.P.subtitle
				| Комплектация "Премиум"
				br
				| 25 000 
				b у.е.
			+e.IMG.img(src='static/img/content/105/1c.jpg', alt='66' )
			+e.UL.list
				+e.LI.item
					span Общая площадь:
					b
						| 105 м
						sup 2
				+e.LI.item
					span Площадь застройки:
					b
						| 150 м
						sup 2
				+e.LI.item
					span Особенности:
					b Терраса, камин
	+b.goods-card
		a(href='105.html')
			+e.H2.title
				| Дом 144 м
				sup 2
			+e.P.subtitle
				| Комплектация "Премиум"
				br
				| ----- 
				b у.е.
			+e.IMG.img(src='static/img/content/144/1c.jpg', alt='30' )
			+e.UL.list
				+e.LI.item
					span Общая площадь:
					b
						| 144 м
						sup 2
				+e.LI.item
					span Площадь застройки:
					b
						| 75 м
						sup 2
				+e.LI.item
					span Особенности:
					b Балкон, навес
	+b.goods-card
		a(href='105.html')
			+e.H2.title
				| Дом 80+20 м
				sup 2
			+e.P.subtitle
				| Комплектация "Премиум"
				br
				| 16 500 
				b у.е.
			+e.IMG.img(src='static/img/content/80/1c.jpg', alt='66' )
			+e.UL.list
				+e.LI.item
					span Общая площадь:
					b
						| 80+20 м
						sup 2
				+e.LI.item
					span Площадь застройки:
					b
						| 130 м
						sup 2
				+e.LI.item
					span Особенности:
					b Терраса
