.reference {
				box-sizing: border-box;
				padding: 0 10px;
				padding-bottom: 20px;
				background-color: #fff;
				font-family: $font-1;
				&__title {
								margin 10px 0
								font-size: 22px;
								font-weight 700
								margin-bottom: 0;
				}
				&__item {
								margin-bottom: 25px;
				}
				ul {
					list-style: initial;
					padding-left 37px
				}
				li {
					margin-top 5px
				}
				h3 {
								margin-top: 20px;
				}
				i {
								margin-left: 30px;
				}
				p {
								text-indent: 25px;
								margin 10px 0
								text-align: justify;
								font-size: 16px;
				}
}

