mixin references(data)
	+b.reference
		+e.item
			+e.title Дом из СИП панелей
			p
				| ООО «Стильный Дом» применяет Канадскую строительную технологию. Проектирование и строительство домов в 
				strong Минске
				|  и области, а также по всей 
				strong Беларуси
				| . Применяется технология в основе которой лежит использование структурных изолированных сэндвич панелей СИП для основных элементов здания: стен, перекрытий и кровельных конструкций. Такая технология - это не каркасное, а панельно-каркасное домостроение, то есть при строительстве не используется отдельно возводимый каркас здания. Его роль выполняют верхний и нижний обвязочный брус панелей, а сами панели являются основным несущим элементом конструкции. Это значит, что построенный таким образом деревянный дом будет не только основательно прочным, но и долговечным. В настоящее время технология панельно-каркасного домостроения считается одной из лучших по совокупности современных требований, предъявляемых к жилым домам во всем мире. Дом из сип панелей цена которого существенно меньше аналогичных из кирпича, блоков или бруса.
			picture
				source(media='(max-width: 767px)', srcset='static/img/general/reference-1-m.jpg')
				img(src='static/img/general/reference-1.jpg', alt='Каркасный дом')
		+e.item
			+e.title Панельно-каркасное строительство домов
			ul
				li
					| легкость и простота обработки 
					strong СИП панелей
					|  предоставляет возможность изготовления элементов конструкции дома практически любых типов и размеров;
				li
					| возможность проведения как укрупненной, так и поэлементной сборки, а также выполнение объектов высокой архитектурной сложности и выразительности;
				li возможность погрузки, разгрузки и монтажа без применения техники;
				li
					| монтаж конструкционных теплоизоляционных СИП панелей выполняется без мокрых процессов, соответственно, может производиться в любое время года;
				li
					| высокие теплоизоляционные свойства позволяют отнести технологию к энергоэффективный дом, уменьшающей в 2-3 раза расходы на отопление дома;
				li
					| скорость строительства дома, включая изготовление СИП-панелей и возведение конструкций, составляет в среднем 1-2 месяца.
			picture
				source(media='(max-width: 767px)', srcset='static/img/general/reference-2-m.jpg')
				img(src='static/img/general/reference-2.jpg', alt='Каркасный дом схема')
