mixin price(data)
	+b.price
		+e.TABLE.item
			+e.CAPTION.title Цена домокомплектов
			tr
				+e.TH.head._left Комплектация
				+e.TH.head._center Состав
				+e.TH.head._right
					| Цена за м
					sup 2
			tr
				+e.TD.td._left Базовая
				+e.TD.td._center Панели стенеовые, панели перекрытий, панели внутренних перегородок
				+e.TD.td._right от 190 BYN
			tr
				+e.TD.td._left Базовая плюс
				+e.TD.td._center
					| Пиломатериалы для сборки, крепеж, монтажная пена, антисептик, пленка гидроизоляционная, мастика.
				+e.TD.td._right от 280 BYN
			tr
				+e.TD.td._left Люкс
				+e.TD.td._center Домокомплект "Базовый плюс" со сборкой на фундаменте заказчика.
				+e.TD.td._right от 340 BYN
			tr
				+e.TD.td._left Люкс плюс
				+e.TD.td._center Домокомплект "Базовый плюс" со сборкой на наш фундамент (винтовые сваи).
				+e.TD.td._right от 360 BYN
			tr
				+e.TD.td._left Премиум
				+e.TD.td._center
					| Домокомплект "Базовый плюс" со сборкой на наш фундамент (винтовые сваи) + окна, дверь входная, кровля металлочерепица.
				+e.TD.td._right от 425 BYN
		+e.TABLE.item
			+e.CAPTION.title Пенопласт цена
			tr
				+e.TH.head._left Марка 
				+e.TH.head._center Оболастьр применения
				+e.TH.head._right
					| Цена за м
					sup 3
			tr
				+e.TD.td._left ПСБ - 15
				+e.TD.td._center Внутреннее утепление, звуко изоляция.
				+e.TD.td._right 90 BYN
			tr
				+e.TD.td._left ПСБ - 20
				+e.TD.td._center Утепление фасадов.
				+e.TD.td._right 110 BYN
			tr
				+e.TD.td._left ПСБ - 25
				+e.TD.td._center Утепление полов, фундаментов и цокольных этажей.
				+e.TD.td._right 130 BYN
		+e.TABLE.item
			+e.CAPTION.title СИП панели 2500 x 1250 цена
			tr
				+e.TH.head._1 Длинна х Ширина мм
				+e.TH.head._2 Толщина панели мм
				+e.TH.head._3 Толщина ОСП мм
				+e.TH.head._4 Цена за шт.
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 118
				+e.TD.td._3 9
				+e.TD.td._4
					| 95 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 168
				+e.TD.td._3 9
				+e.TD.td._4
					| 109 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 218
				+e.TD.td._3 9
				+e.TD.td._4
					| 111 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 120
				+e.TD.td._3 10
				+e.TD.td._4
					| 99 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 170
				+e.TD.td._3 10
				+e.TD.td._4
					| 110 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 220
				+e.TD.td._3 10
				+e.TD.td._4
					| 123 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 124
				+e.TD.td._3 12
				+e.TD.td._4
					| 105 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 174
				+e.TD.td._3 12
				+e.TD.td._4
					| 110 
					b BYN
			tr
				+e.TD.td._1 2500 Х 1250
				+e.TD.td._2 224
				+e.TD.td._3 12
				+e.TD.td._4
					| 130 
					b BYN
			tr
				+e.TD.td._1 2800 Х 1250
				+e.TD.td._2 124
				+e.TD.td._3 12
				+e.TD.td._4
					| 115 
					b BYN
			tr
				+e.TD.td._1 2800 Х 1250
				+e.TD.td._2 174
				+e.TD.td._3 12
				+e.TD.td._4
					| 132 
					b BYN
			tr
				+e.TD.td._1 2800 Х 1250
				+e.TD.td._2 224
				+e.TD.td._3 12
				+e.TD.td._4
					| 150 
					b BYN
		+e.TABLE.item
			+e.CAPTION.title СИП панели 2500 x 625 цена
			tr
				+e.TH.head._1 Длинна х Ширина мм
				+e.TH.head._2 Толщина панели мм
				+e.TH.head._3 Толщина ОСП мм
				+e.TH.head._4 Цена за шт.
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 118
				+e.TD.td._3 9
				+e.TD.td._4
					| 47 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 168
				+e.TD.td._3 9
				+e.TD.td._4
					| 55 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 218
				+e.TD.td._3 9
				+e.TD.td._4
					| 58 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 120
				+e.TD.td._3 10
				+e.TD.td._4
					| 48 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 170
				+e.TD.td._3 10
				+e.TD.td._4
					| 56 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 220
				+e.TD.td._3 10
				+e.TD.td._4
					| 60 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 124
				+e.TD.td._3 12
				+e.TD.td._4
					| 54 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 174
				+e.TD.td._3 12
				+e.TD.td._4
					| 59 
					b BYN
			tr
				+e.TD.td._1 2500 Х 625
				+e.TD.td._2 224
				+e.TD.td._3 12
				+e.TD.td._4
					| 67 
					b BYN
			tr
				+e.TD.td._1 2800 Х 625
				+e.TD.td._2 124
				+e.TD.td._3 12
				+e.TD.td._4
					| 60 
					b BYN
			tr
				+e.TD.td._1 2800 Х 625
				+e.TD.td._2 174
				+e.TD.td._3 12
				+e.TD.td._4
					| 67 
					b BYN
			tr
				+e.TD.td._1 2800 Х 625
				+e.TD.td._2 224
				+e.TD.td._3 12
				+e.TD.td._4
					| 73 
					b BYN
