include ../../col-left/col-left
include ../../col-right/col-right
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Кованные лестницы для улицы и интерьеров
		+e.wrap
			+col-left
			+b.col-center
				+b.breadcrumbs
					+e.UL.list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='index.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Главная
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='allforhome.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Всё для дома
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='#', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Лестницы
				+b.allforhome
					+e.H2.title Лестницы
					+e.item-card
						+e.H2.card-title Артикул: 0013
						+e.card-img
							img(src='static/img/content/allforhome/0013/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0013/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0014
						+e.card-img
							img(src='static/img/content/allforhome/0014/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0014/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0015
						+e.card-img
							img(src='static/img/content/allforhome/0015/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0015/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0016
						+e.card-img
							img(src='static/img/content/allforhome/0016/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0016/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0017
						+e.card-img
							img(src='static/img/content/allforhome/0017/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0017/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0018
						+e.card-img
							img(src='static/img/content/allforhome/0018/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0018/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
			+col-right
