mixin news-aside(data)
	+b.news-aside
		+e.SPAN.title
			| Наши новости
		+e.P.new
			strong
				| Кридитование:
			| Снижены ставки по кредитам! Тепрь от 13% годовых.
			a(href="credit.html")
				| подробнее
			+e.SPAN.date
				| 30-06-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 26-06-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 16-06-2017
		+e.P.new
			strong
				| Элементы декора:
			| Добавлен раздел с кованными цветочницами.
			a(href="florist.html")
				| подробнее
			+e.SPAN.date
				| 15-06-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 11-06-2017
		+e.P.new
			strong
				| Кованные изделия:
			| В каталог добавлены цены для ознакомления со стоимостью работ.
			a(href="allforhome.html")
				| подробнее
			+e.SPAN.date
				| 10-06-2017
		+e.P.new
			strong
				| Кридитование:
			| Строим в кредит на условиях ОАО "Белагропромбанк"!
			a(href="credit.html")
				| подробнее
			+e.SPAN.date
				| 07-06-2017
