mixin news-aside(data)
	+b.news-aside
		+e.SPAN.title
			| Наши новости
		+e.P.new
			strong
				| Новые проекты:
			| Построены три коттеджа с полной отделкой
			a(href="light-house.html")
				| подробнее
			+e.SPAN.date
				| 01-12-2018
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 15-01-2018
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 06-01-2018
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 30-12-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 20-12-2017
		+e.P.new
			strong
				| Кредитование:
			| Ставки по кредитам ещё ниже! Тепрь от 11.5% годовых.
			a(href="credit.html")
				| подробнее
			+e.SPAN.date
				| 12-12-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 02-12-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 25-11-2017
