.news-aside
	width: 215px;
	margin-top: 15px;
	padding: 10px 5px;
	font-family $font-1
	text-align center
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: rgba(10, 10, 10, 0.01);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-sizing border-box
	&__title
		text-transform uppercase
		font-family $font
		font-size 24px
		font-weight 700
	&__new
		text-align left
		font-size 15px
		line-height 20px
		strong
			display block
			margin-top 5px
			margin-bottom 5px
			padding-top 7px
			font-size 20px
			border-top 1px dashed rgba(0, 0, 0, 0.2)
		a 
			display block
			font-style italic
			text-align right
			color blue
			&:hover
				text-decoration underline
			&:active
				opacity 0.3
		time
			font-size 13px
