mixin news-aside(data)
	+b.news-aside
		+e.SPAN.title
			| Наши новости
		+e.P.new
			strong
				| Кридитование:
			| Строим в кредит на условиях ОАО "Белагропромбанк"!
			a(href="credit.html")
				| подробнее
			time
				| 07-06-2017
		+e.P.new
			strong
				| Новый проект:
			| Добавлен новый проект дома с мансардой и балконом. Цена очень демократичная.
			a(href="project.php?id=9")
				| подробнее
			time
				| 06-06-2017
