mixin news-aside(data)
	+b.news-aside
		+e.SPAN.title
			| Наши новости
		+e.P.new
			strong
				| Элементы декора:
			| Добавлен раздел с кованными цветочницами.
			a(href="florist.html")
				| подробнее
			time
				| 15-06-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			time
				| 11-06-2017
		+e.P.new
			strong
				| Кованные изделия:
			| В каталог добавлены цены для ознакомления со стоимостью работ.
			a(href="allforhome.html")
				| подробнее
			time
				| 10-06-2017
		+e.P.new
			strong
				| Кридитование:
			| Строим в кредит на условиях ОАО "Белагропромбанк"!
			a(href="credit.html")
				| подробнее
			time
				| 07-06-2017
		+e.P.new
			strong
				| Новый проект:
			| Добавлен новый проект дома с мансардой и балконом. Цена очень демократичная.
			a(href="project.php?id=9")
				| подробнее
			time
				| 06-06-2017
