mixin news-aside(data)
	+b.news-aside
		+e.SPAN.title
			| Наши новости
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 31-08-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 25-08-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 19-08-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 02-08-2017
		+e.P.new
			strong
				| Новые проекты:
			| Добавлены три новых проекта домов из СИП.
			a(href="projects.php")
				| подробнее
			+e.SPAN.date
				| 23-07-2017
		+e.P.new
			strong
				| Кредитование:
			| Ставки по кредитам ещё ниже! Тепрь от 12% годовых.
			a(href="credit.html")
				| подробнее
			+e.SPAN.date
				| 21-07-2017

