.phone
	margin-left auto
	&__link
		color $c_white
		font-size 1.6rem
		line-height 4.8rem
		font-weight 700
	&__call
		display inline-block
		vertical-align top
		margin-left 25px
		padding-left 47px
		padding-right 47px
		color $c_dark
		font-size 1.4rem
		line-height 4.8rem
		font-weight 500
		text-transform uppercase
		border none
		border-radius 25px
		background-color $c_orange
