.services
	&__title
		font-size 2.4rem
		line-height 7.2rem
		font-weight 400
		color $c_white
	&__list
		display flex
	&__item
		width 190px
		padding-top 80px
		display flex
		flex-wrap wrap
		justify-content center
		strong
			margin-bottom 10px
			text-align center
			font-size 1.6rem
			line-height 2.4rem
			font-weight 500
			color $c_orange
		span
			margin 0 20px
			text-align center
			font-size 1.4rem
			line-height 2.1rem
			font-weight 300
			color $c_white
