mixin services(data)
	+b.services
		+e.B.title Услуги
		+e.UL.list
			+e.LI.item
				+e.STRONG.description Сезонная <br> смена шин
				+e.SPAN Каждый охотник желает знать где
			+e.LI.item
				+e.STRONG.description Правка <br> дисков
				+e.SPAN Каждый охотник желает знать где
			+e.LI.item
				+e.STRONG.description Подвоз <br> топлива
				+e.SPAN Каждый охотник желает знать где
			+e.LI.item
				+e.STRONG.description Ремонт порезов <br> и проколов шин
				+e.SPAN Каждый охотник желает знать где
			+e.LI.item
				+e.STRONG.description Запуск <br> двигателя
				+e.SPAN Каждый охотник желает знать где
			+e.LI.item
				+e.STRONG.description Сезонное <br> хранение шин
				+e.SPAN Каждый охотник желает знать где

