mixin contacts(data)
	+b.contacts(itemscope='', itemtype='http://schema.org/PostalAddress')
		+e.SPAN.title Юридический адрес:
		p(itemprop='streetAddress')
			| ООО "Стильный дом",
			br
			|  211875 Беларусь, Витебская обл.,
			br
			|  г. Поставы, ул. Космонавтов д. 26 
			sup В
			br
			span(itemprop='telephone') Тел/ф (02155) 4-25-80
			br
			span e-mail: 
				a(href="mailto:stilndom@gmail.com") stilndom@gmail.com
