mixin slides-mod(data)
	+b.slides
		+e.text
			+e.H2.title
				b "Модульный дом"
				| умный подход
			+e.A.btn(href='modular-house.html') Подробнее
		+e.wrap
			+e.IMG.wrap-img(src='static/img/content/1/1.jpg', alt='СИП панель')
