include ../../col-left/col-left
include ../../col-right/col-right
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Кованные балконы и заборы
		+e.wrap
			+col-left
			+b.col-center
				+b.breadcrumbs
					+e.UL.list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='index.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Главная
							meta(itemprop="position" content="1")
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='allforhome.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Всё для дома
							meta(itemprop="position" content="2")
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='#', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Балконы и заборы
							meta(itemprop="position" content="3")
				+b.allforhome
					+e.H2.title Балконы и заборы
					+e.P.clarification
						| Цены указанны для представления о стоимости работ и не являются публичной офертой. Каждая работа уникальна, так-как выполняется в ручную мастером. 
						span
							| Возможно исполнение заказа по вашему эскизу.
					+e.item-card
						+e.H2.card-title Артикул: 0027
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0027/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0027/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 400 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0028
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0028/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0028/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 370 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0029
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0029/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0029/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 470 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0030
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0030/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0030/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 560 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0031
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0031/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0031/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 400 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0032
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0032/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0032/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 550 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0033
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0033/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0033/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 370 руб./м.п.
					+e.item-card
						+e.H2.card-title Артикул: 0034
						+e.card-img.js_img-click
							img(src='static/img/content/allforhome/0034/1c.jpg', alt='30', height='170')
							+e.card-bigimg.js_img-big
								+e.card-bigimg-close.js_img-close Закрыть
								img(src='static/img/content/allforhome/0034/1.jpg', alt='30', width='740')
						+e.P.card-price
							b Цена:
							b 700 руб./м.п.
			+col-right
