include ../../col-left/col-left
include ../../col-right/col-right
mixin main(data)
	+b.MAIN.page-content
		+e.title-wrap
			+e.H1.title Кованные козырьки для входных дверей
		+e.wrap
			+col-left
			+b.col-center
				+b.breadcrumbs
					+e.UL.list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='index.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Главная
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='allforhome.html', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Всё для дома
						+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
							+e.A.link(href='#', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
								span(itemprop='name') Козырьки
				+b.allforhome
					+e.H2.title Козырьки
					+e.item-card
						+e.H2.card-title Артикул: 0019
						+e.card-img
							img(src='static/img/content/allforhome/0019/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0019/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0020
						+e.card-img
							img(src='static/img/content/allforhome/0020/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0020/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0021
						+e.card-img
							img(src='static/img/content/allforhome/0021/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0021/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0022
						+e.card-img
							img(src='static/img/content/allforhome/0022/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0022/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0023
						+e.card-img
							img(src='static/img/content/allforhome/0023/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0023/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0024
						+e.card-img
							img(src='static/img/content/allforhome/0024/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0024/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0025
						+e.card-img
							img(src='static/img/content/allforhome/0025/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0025/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
					+e.item-card
						+e.H2.card-title Артикул: 0026
						+e.card-img
							img(src='static/img/content/allforhome/0026/1c.jpg', alt='22', height='170')
							+e.card-bigimg
								+e.card-bigimg-close Закрыть
								img(src='static/img/content/allforhome/0026/1.jpg', alt='22', width='740')
						+e.P.card-price
							b Цена:
							b уточняйте
			+col-right
