mixin light-house(data)
  +b.light-house
    +e.DIV.contacts
      +e.A.button#callBtn(onclick="yaCounter44555589.reachGoal('callMe'); return true;") Перезвоните мне
      +e.DIV.phones
        +e.P.phones-text Мы с радостью  ответим на ваши вопросы
        +e.A.phones-link(href="tel:+375296945552")
          span тел. для 
          B РБ: 
          | +375 29 694 55 52 
          span Марина
        +e.A.phones-link(href="tel:+79267292845")
          span тел. для 
          B РФ: 
          | +7 926 729 28 45 
          span Василий
    +e.H3.sub-title#kredit Кредитование на покупку жилья
    +e.P.text Первоначальный взнос 10%.
    +e.P.text Срок пользования кредитом 20 лет. "Ставка рефинансирования НБ РБ" + 5.4%.
    +e.P.text "Беларусьбанк" - 
      +e.A.link(href="https://belarusbank.by/ru/fizicheskim_licam/kredit/financing/kredit_na_zhilye_doma_i_kvartiry" target='_blank') подробнее
    +e.P.text "Белагропромбанк" - 
      +e.A.link(href="https://www.belapb.by/rus/natural/credits/property/house_purchase/" target='_blank') подробнее
    +e.H3.sub-title.sub-title--red Новогодняя Скидка 10 % до&nbsp;31&nbspДекабря.
    +e.H3.sub-title.price-cost Цена: 69 900 у.е.
    +e.H3.sub-title.price-cost--red Цена по  акции: 
      B 62 900 у.е.
    +e.DIV.clock.clock
    +e.DIV.message
    +e.H3.sub-title «Светлый дом»: жилье повышенной комфортности для современных людей
    +e.P.text Купить дом/дачу с участком в Минской области из проектов «Светлый дом» - значит приобрести один из трех уникальных проектов. Речь идет о 
      B Новых домах 
      | площадью 100 квадратов 
      B с отделкой и полностью готовое к заселению, 
      | с участком в 10-12 соток.
    +e.video#video
      iframe(width="748" height="500" src="https://www.youtube.com/embed/9uYIWdOSvbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen)
    +e.P.text Мы осуществляем продажу
      B Экологических каркасных домов 
      | под Минском 
      B из СиП-панелей и бруса. 
      | Крыша из битумной черепицы обеспечивает надежную 
      B гидроизоляцию.
    +e.P.text Каждый дом оборудован системами 
      B вентиляции, водоснабжения и канализации.
    +e.P.text Отличительная особенность проекта – 
      B плоская эксплуатируемая крыша, 
      | которую можно использовать в качестве летней террасы. 
    +e.H3.sub-title Почему мы?
    +e.DIV.list-box
      +e.UL.list
        +e.LI.item Новые дома, готовые к заселению.
        +e.LI.item Земля в собственности.
        +e.LI.item Плоская эксплуатируемая крыша.
        +e.LI.item Система «Умный дом».
        +e.LI.item Наличие всех коммуникаций.
      +e.UL.list
        +e.LI.item Грибной и ягодный лес.
        +e.LI.item Рыбное хозяйство (форель).
        +e.LI.item Природоохранная зона без производств.
        +e.LI.item До Минска – всего 25 км.

    +e.H3.sub-title Особенности расположения домов
    +e.P.text Нельзя не отметить удобство расположения жилья. Вы можете купить дом в деревне в Минской области и при этом быть совсем рядом с Минском – 
      B всего в 25 км от столицы. 
      | Адрес: Минская область, Логойский район, Беларучский сельский совет, деревня Корбачёвка.
    +e.map
      script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4586faba21703c3cc4c27b5624d4a25776387deb146c4d7e71a15ee96a0e068d&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true')
    +e.P.text Несмотря на кажущуюся близость к мегаполису, местоположение домов располагает к тихому и спокойному проживанию без городской суеты.
    +e.P.text В любой из наших домов в Логойском направлении можно сразу заезжать и жить. Ведь тут уже есть все необходимые для жизни коммуникации: водоснабжение, канализация, системы вентиляции.
    +e.H3.sub-title Комфорт для ребенка
    +e.P.text Купить дом в деревне под Минском станет правильным решением для семей, где есть ребенок. 
    +e.P.text Вот основные преимущества проживания здесь:
    +e.OL.list-num
      +e.Li.item-num
        B Безопасность. 
        | Все, кто тут живет, знают друг друга в лицо. Здесь не появляются незнакомцы, поэтому вы можете спокойно отпускать ребенка погулять на улице.
      +e.Li.item-num
        B Тишина. 
        | Информационный шум, толпы людей, пробки, толкучка в транспорте… Устали от всего этого? Стоит только купить каркасный дом в Логойском направлении и можно наслаждаться уединением.
      +e.Li.item-num
        B Удобное расположение школы. 
        | Все строения здесь относятся к Острошицко-Городокской школе, чей автобус заберет школьника, вовремя доставит на уроки и привезет после учебы домой.
      +e.Li.item-num
        B Спортивные секции. 
        | Местная школа оснащена необходимым спортинвентарем. Здесь есть также 2 бассейна для физического развития учеников.
    +e.H3.sub-title Фото галерея
    +e.P.text Все дома реализуются c полной отделкой и готовы к заселению.
    +b.gallery-slider
      +e.images
        +e.wrap
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image01.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image02.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image03.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image04.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image05.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image06.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image07.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image08.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image09.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image10.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image11.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image12.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image13.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image14.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image15.jpg')
        +b.BUTTON.prev-arrow.slick-arrow
          SVG(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792")
            PATH(fill="#fff" d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z")
        +b.BUTTON.next-arrow.slick-arrow
          SVG(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792")
            PATH(fill="#fff" d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z")
      +e.thumbnails
        +e.wrap
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image01.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image02.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image03.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image04.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image05.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image06.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image07.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image08.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image09.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image10.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image11.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image12.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image13.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image14.jpg')
          +b.item
            +b.img-fill
              img(src='static/img/general/gallery/image15.jpg')
        +b.BUTTON.prev-arrow.slick-arrow
          SVG(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792")
            PATH(fill="#fff" d="M1171 301L640 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L173 877q-19-19-19-45t19-45L915 45q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z")
        +b.BUTTON.next-arrow.slick-arrow
          SVG(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1792")
            PATH(fill="#fff" d="M1107 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L275 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z")

    +e.H3.sub-title План дома
    +e.P.text Стандартный одноэтажный дом состоит из просторной кухни, совмещенной с  гостиной, 2-х спален и совмещенного санузла.
      +e.img-wrap
        img(src='static/img/general/plan.jpg' alt='plan')
    +e.H3.sub-title Что такое «Умный&nbsp;дом».
    +e.P.text
      B Система «Умный дом» 
      | - это ультрасовременное техническое решение для тех, кто дружит с новейшими технологиями.
    +e.UL.list
      +e.LI.item Технология «умный дом» позволяет программировать и удаленно управлять включением и выключением всех электроприборов дома. 
        +e.img-wrap--flex.smart
          img(src='static/img/general/smart1.jpg' alt='smart')
          img(src='static/img/general/smart3.jpg' alt='smart3')
          img(src='static/img/general/smart2.jpg' alt='smart2')
      +e.LI.item Технология «Умный дом» ярче всего проявляет себя в управлении освещением и отоплением.
      +e.LI.item Управлять домом можно также через WEB интерфейс и в версиях приложения  для ПК и планшетов
        +e.img-wrap
          img(src='static/img/general/smart-pc.jpg' alt='smart-pc')
    +e.H3.sub-title-attention Это важно!
    +e.P.text-attention Весь поселок с домами по системе «Светлый дом» находится под охраной Департамента охраны 
    +e.P.text-attention МВД РБ.
    +e.H3.sub-title Инфраструктура
    +e.P.text Если купить дачу под Минском, можно наслаждаться всеми прелестями 
      B столичной жизни и загородного отдыха одновременно. 
      | С одной стороны, если планируете крупный шоппинг, до столицы рукой подать. С другой стороны, если закончился хлеб или молоко, можно воспользоваться удобной 
      B доставкой продуктов от «Евроопт» 
      | или приобрести все необходимое в местной автолавке.
    +e.H3.sub-title-attention Это важно!
    +e.P.text-attention Поселок обслуживают Скорая помощь и МЧС.
    +e.P.text Если вы стремитесь к 
      B единению с природой, 
      | но в то же время не хотите уезжать далеко от столицы, предлагаем вам купить загородный дом под Минском в рамках нашего проекта «Светлый дом».
    +e.P.text 
      B Наши менеджеры 
      | с радостью ответят на все Ваши вопросы. Звоните прямо сейчас.
    +e.H3.sub-title Выбери свой «Светлый&nbsp;дом» сегодня.
    +e.P.text e-mail:
      +e.A.link-mail(href="mailto:raimark@tut.by") raimark@tut.by
      +e.A.link-tel(href="tel:+375296945552")
        span тел. РБ 
        | +375 29 694 55 52; 
      +e.A.link-tel(href="tel:+79267292845")
        span тел. РФ 
        | +7 926 729 28 45;
    +b.DIV.modal-call
      +e.BUTTON.close-btn Закрыть
      +e.H2.title Представьтесь пожалуйста
      +e.FORM(onsubmit="yaCounter44555589.reachGoal('sendPhone'); return true;" id='callForm' action='/send-mail.php' method="post")
        +e.DIV.field
          +e.LABEL(for='name').label Ваше имя:
          +e.INPUT(id="name" type="text" name="name" required).input
        +e.DIV.field
          +e.LABEL(for='phone').label Ваш телефон:
          +e.INPUT(id="phone" type='text' name="phone" required).input
        +e.BUTTON(type="submit").button Отправить
        +e.DIV.info
          svg(width='70')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#check-ok')
          DIV Сообщение отправлено!
            P Наш менеджер скоро перезвонит
