mixin breadcrumbs(data)
	+b.breadcrumbs
		+e.UL.list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				+e.A.link(href='/', id='https://domsip.by', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
					span(itemprop='name') Главная
				meta(itemprop="position" content="1")
			+e.LI.item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				+e.A.link(href='projects.php', id='https://domsip.by/projects.php', itemscope='', itemtype='http://schema.org/Thing', itemprop='item')
					span(itemprop='name') Проекты
				meta(itemprop="position" content="2")
